.heading {
    /* margin-top: 150px; */
    font-size: 60px;
    color: #056067;

}

.courseBtn {
    margin-top: 80px;
    font-size: 35px;
}

.courseBtn a {
    text-decoration: none;
    font-size: 40px;
}

.courseBtn a:hover {
    color: #58DDC0;
}